
.separator{
	border-right: 1px solid #d1ccc0 !important;
	margin-left:10px !important;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;

}

#ModalMoneda{
	top: 50px !important;
}

#bootstrap-table{
	max-height:100px !important;
}

.loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 250px;
    margin-bottom:250px;
    margin-left:43%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fixed-table-body{
    max-height:400px !important;

}

.tables_cards{
  max-height:300px !important;
  overflow: auto;
}


.group-block{
    border:solid #c0392b 1px;
    min-height:30px;
    max-height:250px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}

.group-stock{
    border:solid #27ae60 1px;
    min-height:30px;
    max-height:250px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}

.group-block::-webkit-scrollbar {
    display: none;
}

.group-stock::-webkit-scrollbar {
    display: none;
}



.group-actuales{
    border:solid #16a085 1px;
    min-height:30px;
    max-height:250px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}

.group-RolesActivos{

  border:solid #16a085 1px;
  min-height:30px;
  max-height:250px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
}

.group-RolesDisponibles{
  border:solid #f1c40f 1px;
  min-height:30px;
  max-height:250px;
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
}
/*
.group-RolesActivos::-webkit-scrollbar {
    display: none;
}

.group-RolesDisponibles::-webkit-scrollbar {
    display: none;
}*/


.group-disponibles{
    border:solid #f1c40f 1px;
    min-height:30px;
    max-height:250px;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}

/*.group-actuales::-webkit-scrollbar {
    display: none;
}

.group-disponibles::-webkit-scrollbar {
    display: none;
}
*/

/*the container must be positioned relative:*/
.mpay-select {
  position: relative;
  font-family: Arial;
}
.mpay-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.mpaytable{
    margin-top: 10px;
    margin:10px auto;
}

button{
    margin-bottom: 10px !important;
}

.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}
